<!-- <form #signup="ngForm" (ngSubmit)="OnSubmit()" > -->
<form #signup="ngForm" (ngSubmit)="OnSubmit(signup.value)">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input type="text" class="form-control" required minlength="3" name="FirstName" ngModel
                    #FirstName="ngModel" id="FirstName" aria-describedby="helpId" placeholder="First Name">
                
                <small id="helpId" class="alert alert-danger"
                    *ngIf="FirstName.errors?.required && FirstName.touched">Enter First Name</small>
                <small id="helpId" class="alert alert-danger" *ngIf="FirstName.errors?.minlength">Minimum 3 characters
                    required</small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input type="text" class="form-control" name="LastName" required id="LastName" ngModel
                    #LastName="ngModel" aria-describedby="helpId" placeholder="Last Name">
                <small id="helpId" class="alert alert-danger"
                    *ngIf="LastName.errors?.required && LastName.touched">Enter Last Name</small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="EmailId">Email Id</label>
                <input type="email" class="form-control" required email name="EmailId" id="EmailId" ngModel
                    aria-describedby="helpId" placeholder="Email Id" #EmailId="ngModel">
                <small id="helpId" class="alert alert-danger" *ngIf="EmailId.errors?.required && EmailId.touched">Enter
                    Email id</small>
                <small id="helpId" class="alert alert-danger" *ngIf="EmailId.errors?.email">Invalid
                    Email id</small>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="MobileNo">Mobile No</label>
                <input type="text" class="form-control" pattern="[0-9 ]{10}" #MobileNo="ngModel" name="MobileNo"
                    id="MobileNo" ngModel aria-describedby="helpId" placeholder="Mobile No">
                <small id="helpId" class="alert alert-danger"
                    *ngIf="MobileNo.errors?.pattern && MobileNo.touched">Invalid
                    Mobile No</small>
                <!-- Error: {{MobileNo.errors | json}} -->
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" required name="Password" id="Password" ngModel
                    aria-describedby="helpId" placeholder="Password">
                <small id="helpId" class="form-text text-muted">Enter Password</small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" required name="ConfirmPassword" id="ConfirmPassword" ngModel
                    aria-describedby="helpId" placeholder="Confirm Password">
                <small id="helpId" class="form-text text-muted">Confirm Password</small>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
              <label for="Address">Address</label>
              <textarea class="form-control" name="Address" ngModel id="Address" rows="3"></textarea>
            </div>
        </div>
    </div>
    
    <button [disabled]="signup.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>