<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let student of students">
                        <a [routerLink]="[student.StudentId]">{{student.FirstName+" "+student.LastName}}</a>
                    </li>
                    <!-- <li class="list-group-item">
                        <a [routerLink]="[565]">Invalid Student Id</a>
                    </li> -->
                    <li class="list-group-item" >
                        <button type="button" (click)="showSuccess()" class="btn btn-primary">Toast Example</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <!-- <mat-spinner></mat-spinner> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>