<h2>String Interpolation Component Examples</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Things we can do using String Interpolation</h3>
        <ul class="list-group">
            <li class="list-group-item">4+5 - Simple Code Expression Example - {{4+5}}</li>
            <li class="list-group-item">String Property Example : {{name}}</li>
            <li class="list-group-item">Number Property Example : {{num1+num2}}</li>
            <li class="list-group-item">Boolean Property Example : {{termsAndConditions}}</li>
            <li class="list-group-item">Custom Object Example : {{person.Name}} {{person.Address.AddLine1+" "+person.Address.City}}</li>
            <li class="list-group-item">Custom Object Example : {{person2.Name}} {{person2.Address?.AddLine1}} {{person2.Address?.City}}</li>
            <li class="list-group-item">String Method Example : {{getName()}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Things we can do using String Interpolation</h3>
        <ul class="list-group">
            <li class="list-group-item">We cannot create a new Object in code expression : </li> <!--{{new Person("Amit")}}-->
            <li class="list-group-item">We cannot write multiple code expressions : </li> <!--{{num1,num2}}-->
            <li class="list-group-item">We cannot write chained code expressions : </li> <!--{{num1;num2}}-->
        </ul>
    </div>
</div>