<h3>Event Binding Examples</h3>
<div (contextmenu)="RightClicked()" (mouseenter)="OnMouseEnter()" (mouseleave)="OnMouseLeave()" class="alert alert-primary" role="alert">
    <strong>{{Message}}</strong>
</div>
<!-- <button type="button" class="btn btn-primary" (click)="Message='How are you doing?'" >Click Me</button> -->
<button type="button" class="btn btn-primary" (click)="ButtonClicked()">Click Me</button>

<div class="row">
    <div class="col-md-3">
        <!-- <input type="text" class="form-control" (input)="InputChanged($event)" > -->
        <!-- <input type="text" class="form-control" (keyup)="InputChanged($event)" > -->
        <input type="text" class="form-control" (keydown)="InputChanged($event)" >
    </div>
    <div class="col-md-3">
        {{inputText}}
    </div>
</div>
